os: linux
dist: trusty
language: go

go:
  - 1.9.x
  - 1.10.x
  - 1.11.x
  - 1.12.x
  - 1.13.x
  - 1.14.x
  - tip

script:
  - go get ./...
  - gofmt -d -s .
  - go vet *.go
  - go test -v -race ./...
